<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.wenda.dao.QuestionMapper">
    <resultMap id="questionResultMap" type="com.example.wenda.domain.Question">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="createdDate" column="created_date"/>
        <result property="commentCount" column="comment_count"/>
    </resultMap>
    <sql id="table">
        question
    </sql>
    <sql id="base_column">
        id
        , title, content, user_id,created_date,comment_count
    </sql>

    <select id="selectById" resultMap="questionResultMap">
        SELECT
        <include refid="base_column"/>
        FROM
        <include refid="table"/>

        <if test="userId != 0">
            WHERE user_id = #{userId}
        </if>
        ORDER BY id DESC
    </select>

    <insert id="addQuestion">
        insert into
        <include refid="table"/>
        (<include refid="base_column"/>)
        values
        (#{id}, #{title}, #{content}, #{userId}, #{createdDate}, #{commentCount})
    </insert>
</mapper>